<html>
<link rel="stylesheet" href="style.css">

  <title> Preview Report </title>

<div class ="containerJudul">
  <center>  <h1> Preview Report </h1> </center>
</div>



<br><br><br>

<div class="row">
    <div class="col-25">
      <label for="template">Template yang ingin di-preview  </label>
    </div>

    <div class="col-15">
        <select id="report"  name="report">
            <option value="{{report}}">{{Report]}}</option>
        </select>
    </div>
</div>



<div class="row">

    <div class="col-25">
        <label for="template">Organisasi  </label>
    </div>

    <div class="col-15">
        <select id="organisasi"  name="organisasi">
            <option value="{{Organisasi}}">{{Organisasi]}}</option>
        </select>
    </div>
</div>


<div class="row">

    <div class="col-25">
        <label for="template">Server  </label>
    </div>

    <div class="col-15">
        <select id="server"  name="server">
            <option value="{{Server}}">{{Server]}}</option>
        </select>
    </div>
</div>


<br><br>

<center>
<button>Preview</button>
<button>Cancel</button>
</center>









</html>
