<html>


<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">


  <title> Add New Template </title>

<div class ="containerJudul">
  <center>  <h1> Add New Template </h1> </center>
</div>
<!-- <button>Copy Template</button> -->


<!-- <form id="form2" action="/formatTemplate" method ="POST">
  <div class ="row">
    <div class ="col-15">
      <label for="kodeReport">Kode Report : </label>
    </div>
      <input type="text" id="kodeLaporan" name="kodeLaporan" placeholder=""> 
    
      <button>Cek Report</button>
    
  </div>
</form> -->


<br><br><br>
<form id="myForm" action="/prosesAddNewTemplate" method="POST"> 

  <div class ="row">
    <div class ="col-15">
      <label for="kodeReport">Kode Report : </label>
    </div>
      <input type="text" id="kodeLaporan2" name="kodeLaporan2" placeholder="Kode Laporan">
      
      <select id="kategori" name="kategori">
        {% for row in listKategori %}
          <option value="{{row[0]}}">{{row[0]+" - "+ row[1]}}</option>
        {% endfor %}
      </select>


      <input type="text" name="noLap" placeholder="Nomor Laporan">
  </div>

  <div class ="row">
    <div class ="col-15">
      <label for="organisasi">Organisasi : </label>
    </div>
      <select id="organisasi" name="organisasi">
        {% for row in listOrg %}
          <option value="{{row[0]}}">{{row[0]+" - "+ row[1]}}</option>
        {% endfor %}
      </select>
  </div>

  <div class ="row">
    <div class ="col-15">
      <label for="server">Server : </label>
    </div>
      <select id="server" name="server">
        {% for row in listServer %}
          <option value="{{row[0]}}">{{row[0]+" - "+ row[1]}}</option>
        {% endfor %}
      </select>
  </div>

  

  <div class ="row">
    <div class ="col-15">
      <label for="namaReport">Nama Report : </label>
    </div>
      <input type="text" id="kodeReport" name="namaLaporan" >
  </div>

  <div class="row">
    <div class="col-15">
      <label for="tujuan">Tujuan : </label>
    </div>
      <textarea id="tujuan" name="tujuan" placeholder=""></textarea>
  </div>

  <div class ="row">
    <div class ="col-15">
      <label for="filter">Filter : </label>
    </div>
      <textarea id="filter" name="filter" placeholder=""></textarea>
  </div>

  <div class ="row">
    <div class ="col-15">
      <label for="jmlKolom">Jumlah Kolom : </label>
    </div>
      <input type="text" id="jmlKolom" name="jmlTampilan" >
  </div>

  <div class ="row">
    <div class ="col-15">
      <label for="jmlHeader">Jumlah Header : </label>
    </div>
      <select id="jmlHeader" name="jmlHeader">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
  </div>

  <div class ="row">
    <div class ="col-15">
      <label for="jmlFooter">Jumlah Footer : </label>
    </div>
    <select id="jmlFooter" name="jmlFooter">
      <option value="0">0</option>
      <option value="1">1</option> 
      <option value="2">2</option>
    </select>
  </div>

  <div class ="row">
    <div class ="col-15">
      <label for="periode">Periode : </label>
    </div>
      <input type="text" id="periode" name="periode">
  </div>

  <div class ="row">
    <div class ="col-15">
      <label for="printAll">Print All : </label>
    </div>
    <select id="printAll" name="printAll">
      <option value="Y">Y</option>
      <option value="N">N</option>
    </select>
  </div>


<center>
<button class="submit" type="Submit">Go</button>

</form>


<!-- <button class="submit" onclick="myFunction()" value="Reset">Reset</button> -->
<input type="button" class="submit" onclick="myFunction()" value="Reset">
<button class="submit">Exit</button>
</center>

<script>
  /*                      RESET INPUTAN                     */
function myFunction() {
  document.getElementById("myForm").reset();
}
</script>

</html>
